/* button {
  margin-bottom: 0 !important;
  margin: 10px;
} */

.table-btn {
  margin-bottom: 0 !important;
  margin-right: 10px;
}

.form-btn {
  margin-left: 10px;
}

.cancel-btn {
  background-color: rgb(104, 104, 104);
  border-color: rgb(104, 104, 104);
}

.cancel-btn:hover,
.cancel-btn:focus {
  background-color: rgb(66, 66, 66);
  border-color: rgb(66, 66, 66);
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.input-wrapper {
  display: inline-block;
  position: relative;
  width: 70%;
}

.input-wrapper::before {
  font-family: "FontAwesome";
  content: "\f002";
  position: absolute;
  left: 10px;
  top: 15%;
}

.search {
  padding-left: 30px;
  padding-right: 13px;
  /* border: none; */
  border-radius: 20px;
  border: 1px solid rgb(230, 216, 216);
  width: 50%;
  height: 36px;
}

input.search:focus {
  outline: none;
  border: 1px solid #000;
}

@media (max-width: 991px) {
  .input-wrapper {
    width: 130%;
  }
}
